
@charset "utf-8";
@import "base";
/*顶端导航*/
.topBox{width:100%;height:35px;background: #e3e4e5;}
.topBox .top{width:1240px;height:35px;margin:0 auto;text-align:center;line-height: 35px;
	overflow: hidden;}
.topBox .top a{font-size:12px;color:#848080;margin:0 10px;}
.topBox .top .top-left{float:left;}
.topBox .top .top-right{float:right;}
.topBox .top .top-right a img{margin-left:-10px;}


/*header logo*/
.headerBox{width:100%;}
.headerBox .header{width:1240px;margin:0 auto;overflow:hidden;}
.headerBox .header a img{width:150px;height:40px;padding:40px 250px 40px 0px;float:left;}
/*中间搜索框*/
.headerBox .header .h-center{float:left;}
.headerBox .header .h-center .inputbox {border:1px solid #23ac38;margin-top:30px;width:530px;
	margin-bottom:15px;overflow:hidden;}
.headerBox .header .h-center .inputbox .input1{width:456px;height:40px;float:left;
	text-indent: 15px;color:#877777;}
.headerBox .header .h-center .inputbox .div1{width:70px;height:44px;line-height: 44px;
	text-align:center;background:#23ac38;float:right;}
.headerBox .header .h-center .abox a{font-size: 14px;color:#877777;padding-right:10px;}

/*右边购物车*/
.headerBox .header .goods{float:left;border:1px solid #dddddd;margin-top:30px;margin-left:35px;
	width:160px;height:40px;text-align:center;line-height: 40px;background:#f9f9f9;color:#363636;position: relative;
	
	.cart{
		background: #fff;
	    border: 1px solid #ddd;
	    box-shadow: 0 4px 4px rgba(0,0,0,.2);
	    /*display: none;*/
	    font-size: 12px;
	    margin-top: -1px;
	    position: absolute;
	    right: 0;
	    top: 42px;
	    width: 380px;
	    z-index: 999;
	    .cart-tops{
	    	padding: 40px 0;
		    text-align: center;
		    color: #666;
		    /*display: none;*/
	    }
	    .cart-list{
	    	padding: 6px 12px;
    		display: block;
    		.cart-item{
    			display: block;
			    height: 72px;
			    line-height: 72px;
			    padding: 6px 0;
			    border-top: 1px solid #ddd;
			    .a1{
			    	img{
			    		width: 72px;
					    height: 72px;
					    float: left;
					    padding:0;
			    	}
			    }
			    .span1{
			    	float: left;
				    color: #666;
				    padding-left: 15px;
				    width: 140px;
				    line-height: 20px;
				    strong{
				    	display: block;
				    	float:left;
					    height: 72px;
					    vertical-align: middle;
					    font-weight: normal;
					    overflow: hidden;
					    line-height: 15px;
				    }
			    }
			    .span2{
			    	float: left;
			    	margin-left:50px;
				    width: 30px;
				    color: #666;
				    text-align: center;

			    }
			    .a2{
					float: right;
				    width: 16px;
				    height: 16px;
				    margin-top: 28px;
				    background: url(../images/head-icons.png) no-repeat 0 -59px;
			    }
    		}
	    }
	    .cart-count{
	    	padding: 10px 15px 10px 20px;
		    height: 40px;
		    line-height: 40px;
		    font-size: 12px;
		    background: #f6f6f6;
		    color: #31373c;
		    b{
		    	color: #e94c30;
    			font-weight: normal;
		    }
		    a{
		    	float: right;
			    width: 120px;
			    height: 40px;
			    line-height: 40px;
			    font-size: 14px;
			    background: #30ab38;
			    color: #fff;
			    text-align: center;
			    border-radius: 2px;
		    }

	    }
	}

}
.headerBox .header .goods span{color:#cbbfc4;}
/*右边二维码*/
.headerBox .imgbox{border:1px solid #dddddd;float:right;margin-top:6px;}
.headerBox .imgbox .img1{width:55px;height:55px;margin:10px;}



/*导航栏nav*/
.navBox{width: 100%;border-bottom:1px solid black;}
.navBox .nav{width:1240px;margin:0 auto;position: relative;}
.navBox .nav .nav-img{position: absolute;right:15px;bottom:5px;}
.navBox .nav .nav-ul{overflow: hidden;}
.navBox .nav .nav-ul a .li,.first-li{float:left;color:black;}
.navBox .nav .nav-ul .first-li{margin-right:26px;background: #363636;
	width:210px;color:white;
	line-height: 39px;height:39px;font-size:16px;}
.navBox .nav .nav-ul .li{font-size:14px;margin:10px;
	position: relative;}
.sublistbox{
	display: none;	
	position:absolute;
    width: 1240px; 
    position: absolute;
    left: 0;
    top: 37px;
    width: 100%;
    height: 230px; 
    border-top: 1px solid #ddd;
    background: #fff;
    z-index: 111;
    line-height: normal;
    overflow: hidden;

   
    li{
    	padding: 30px 40px 25px 40px;
		float:left;   		
	    border-right:1px solid #f5f5f5;
	    width: 120px;
	    color: #999;
	    
		img{
			width: 120px;
			height: 120px;
			
		}
		span{
			display: block;
		    margin-top: 12px;
		    font-size: 12px;
		    color: #232426;
		    font-style: normal;
		    height: 18px;
		    line-height: 18px;
		    width: 120px;
		    overflow: hidden;
		    text-align: center;
		    
		}
		i{
			margin-top: 2px;
			color: #ee4a25;
			display: block;
		    font-size: 12px;			    
		    font-style: normal;
		    text-align: center;
		    height: 18px;
		    line-height: 18px;
		    width: 120px;
		    
		}

	}
}

 
/*body-topBox*/
.body-topBox{
	width:100%;
	.body-t{
		width:1240px;
		margin:0 auto;
		
		.p{
			height: 48px;
			line-height: 48px;
			border-bottom:1px solid #e8e8e8;
			:hover{
				color:#23ac38;
			}
			a{
				color: #848484;
				font-size:14px;

				:hover{
					color:#23ac38;
				}
				i{
					font-style:normal;
					color: #848484;
					font-size:14px;
					width:100px;
    				display: inline;
    				padding: 35px;
    				zoom: 1;
   					
				}
			}
			input{
				margin-right: -20px;
			}

			span{
				display: inline-block;
			    display: inline;
			    zoom: 1;
			    width: 60px;
			    height: 48px;
			    line-height: 48px;
			    color: #31373c;
			}
		}

	}
}

/*goods*/
.goodsBox{
	width:100%;
	padding: 50px 0 100px 0;
    background: #f5f5f5;
	.goods{
		width:1250px;
		margin:0 auto;

		.list{
			margin-left: 1px;
    		width: 1250px;
    		overflow: hidden;
    		.list-item{
    			margin: 3px 3px 15px;
			    display: inline-block;
			    float: left;
			    display: inline;
			    zoom: 1;
			    width: 238px;
			    height: 328px;
			    overflow: hidden;
			    background: #fff;
			    border: 1px solid #E4E4E4;
			    position: relative;

			    .addsuccess{
			    	background: #FC0D1B;
				    bottom: -36px;
				    color: #fff;
				    display: none;
				    font-size: 12px;
				    height: 36px;
				    left: 0;
				    line-height: 36px;
				    position: absolute;
				    right: 0;
				    z-index: 10;
			    }
			    .desc{
			    	.pic{
			    		padding: 30px 30px 20px;
			    		img{
							width: 165px;
    						height: 165px;
			    		}
			    		
			    	}
			    	.cont{
			    		text-align: center;
   						font-size: 16px;
   						.title{
   							display: block;
						    margin: 0 auto;
						    width: 90%;
						    text-align: center;
						    font-size: 14px;
						    height: 24px;
						    line-height: 24px;
						    color: #31373c;
						    overflow: hidden;
						    white-space: nowrap;
						    text-overflow: ellipsis;
   						}
   						.price{
   							font-size: 14px;
    						color: #fa5437;
   						}
			    	}
			    	.addtns{
			    		display: none;
			    		text-align: center;
   		 				margin-inline-start: 50px;
			    		background: #fff url(../images/icon_add_to_cart.png) no-repeat 14px 7px;
					    background-size: 15px;
					    border: 1px solid #fc532d;
					    color: #fc532d;
					    /* display: none; */
					    padding-left: 15px;
					    width: 105px;
					    margin-top:10px;
					    a{
						    font-size: 12px;
						    color:red;
						    height: 28px;
						    line-height: 28px;
						    margin-top: 10px;
						    width: 120px;

					    }
			    	}
			    }
			    .addsuccess{
			    	background: #FC0D1B;
				    bottom:-36px;
				    text-align: center;
				    color: #fff;
				    display: block;
				    font-size: 12px;
				    height: 36px;
				    left: 0;
				    line-height: 36px;
				    position: absolute;
				    right: 0;
				    z-index: 10;
			    }
    		}
		}

	}
}



 /*右侧固定定位*/
.leftsub{position:fixed;right:3px;bottom:0;top:0;z-index:999;background:#636363;width:6px;}
.leftsub>ul{position:absolute;top:50%;right:0;}

.leftsub>ul>li{margin-top: -1px; display: block;width: 43px;
height: 40px;font-size: 0;background: #636363;overflow: hidden;position: relative;border-top-left-radius: 3px;border-bottom-left-radius: 3px;}

 /*footer*/
.footerBox{width:100%}
.footerBox .footer{width:1240px;margin:0 auto;clear: both;
background: #FFF;font-size: 12px;color: #666;}
.foot-banner{
	width:100%;
	overflow: hidden;
	padding:16px 0;
	border-top:1px solid #e8e8e8;
	border-bottom:1px solid #e8e8e8;
	
	.item{
		width:33%;
		float:left;
		border-right:1px solid #e8e8e8;
		height:60px;
		font-size:18px;
		text-align: center;
		line-height:60px;
		color:#302e33;

		i{
			display: inline-block;
			width:36px;
			height: 36px;
			text-align:center;
			line-height: 36px;
			vertical-align: top;
			margin:10px 10px 0 0;
			border:2px solid #23ac38;
			border-radius: 20px;
			color:#23ac38;

		}
	}
	.lastitem{
		border:0;
	}
}

.foot-container{
	padding:30px 0;
	width:100%;
	overflow: hidden;
	 dl{
	 	display: block;
	 	float: left;
	    padding-right: 0;
	    width: 16%;
	    margin-left: 100px;
	    dt{
	    	font-size: 16px;
		    color: #302E33;
		    line-height: 40px;
	    }
	    dd{
	    	color: #848484;
		    font-size: 12px;
		    line-height: 30px;
		    a{
		    	color: #848484;
		    }
	    }
	 }
	
	.dl1{
		width:20%;
		float:left;
		padding-right:0;
		margin-left: 100px;
		dt{
			font-size: 16px;
		    color: #302E33;
		    line-height: 40px;
		}
		dd{
			color: #848484;
		    font-size: 12px;
		    line-height: 30px;

		    span{
		    	font-size: 20px;
			    color: #4ABA00;
			    line-height: 40px;
			    vertical-align: top;
		    }
		    i{
		    	font-size: 14px;
    			color: #4ABA00;
		    }	
		}
	}

	.dl2{
		margin-left: 50px;
		dd{
			color: #848484;
		    font-size: 12px;
		    line-height: 30px;

		    a{
		    	margin-right: 5px;
			    display: inline-block;
			    position: relative;
			    
			    span{
			    	position: absolute;
				    left: 50px;
				    top: -15px;

				    img{
			    		height: 80px;
    					width: 80px;
			    	}
			    }
		    }
		}
	}
}

.footer-copyright{
	clear: both;
    padding: 30px 0;
    line-height: 22px;
    font-size: 12px;
    color: #848484;
    text-align: center;
    border-top: 1px solid #e8e8e8;

}























